/* frontend/src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
  font-family: "Tahoma", "Segoe UI", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

@keyframes progressAnim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
